<div class="server-console">
   <div class="col-md-12">
       <div style="min-height:420px;">
           <div class="col-md-6">
               <table class="table table-striped table-hover table-bordered" style="cursor:pointer;">
                   <thead>
                       <tr>
                           <th>任务名称</th>
                           <th>应用名称</th>
                           <th>账号类型</th>
                           <th>运行客户端运行情况</th>
                           <th style="width:72px;max-width:72px;">排序</th>
                           <th><a href="javascript:void(0);" (click)="reload()">刷新</a></th>
                       </tr>
                   </thead>
                   <tr *ngFor="let t of tasks let index=index" (click)="getKeywords(t)">
                       <td title="id:{{t.task_id}}">{{t.name}}</td>
                       <td>{{t.app_name}}</td>
                       <td>{{t.account_type_name}}</td>
                       <td>
                           <p *ngIf="t.client_groups.length==0">所有客户端</p>
                           <div *ngIf="t.client_groups.length>0">
                               <label *ngFor="let g of t.client_groups">&nbsp;{{g.name}}&nbsp;</label>
                           </div>
                       </td>
                       <td title="双击修改顺序"><enter [val]="t.sort" [id]="t.task_id" (update)="updateSort($event)"></enter></td>
                       <td><button class="btn bnt-primary" (click)="stopTask(index,t)">暂停</button></td>
                   </tr>
                   <tfoot>
                       <tr>
                           <th colspan="15" *ngIf="tasks.length==0">没有任务</th>
                       </tr>
                   </tfoot>
               </table>
           </div>
           <div class="col-md-3">
               <table class="table table-striped table-hover table-bordered">
                   <thead>
                       <tr>
                           <th>关键字</th>
                           <th>总数/已完成</th>
                           <th>排序</th>
                       </tr>
                   </thead>
                   <tr *ngFor="let t of keywords">
                       <td>{{t.keyword_name}}</td>
                       <td width="120px;">{{t.quant}}/{{t.complete_quant}}</td>
                       <td width="120px;">{{t.sort}}</td>
                   </tr>
                   <tfoot>
                       <tr>
                           <th colspan="15" *ngIf="keywords.length==0">没有关键字</th>
                       </tr>
                   </tfoot>
               </table>
           </div>
           <div class="col-md-3">
               <table class="table table-striped table-hover table-bordered">
                   <thead>
                       <tr>
                           <th colspan="15">
                               <p-selectButton [options]="taskListSwitch" [(ngModel)]="currTaskSwitch"></p-selectButton>
                           </th>
                       </tr>
                   </thead>

                   <tbody *ngIf="currTaskSwitch == 'get_list'">
                       <tr *ngFor="let t of get_tasks">
                           <td>{{t.timeout_txt}} {{t.keyword}}</td>
                       </tr>
                       <tr>
                           <th colspan="15" *ngIf="get_tasks.length==0">没有获取任务</th>
                       </tr>
                   </tbody>

                   <tbody *ngIf="currTaskSwitch == 'succ_list'">
                       <tr *ngFor="let s of complete_tasks">
                           <td>{{s.timeout_txt}} {{s.keyword}}</td>
                       </tr>
                       <tr>
                           <th colspan="15" *ngIf="complete_tasks.length==0">没有完成任务</th>
                       </tr>
                   </tbody>

                   <tbody *ngIf="currTaskSwitch == 'fail_list'">
                       <tr *ngFor="let s of failing_tasks">
                           <td>{{s.timeout_txt}} {{s.keyword}} {{s.error_msg}}</td>
                       </tr>
                       <tr>
                           <th colspan="15" *ngIf="failing_tasks.length==0">没有失败任务</th>
                       </tr>
                   </tbody>
               </table>

           </div>
           <div style="clear:both;"></div>
       </div>
       <div style="min-height:420px;">
           <div class="col-md-6">
               <table class="table table-striped table-hover table-bordered" style="cursor:pointer;">
                   <thead>
                       <tr>
                           <th>即将开始</th>
                           <th>应用名称</th>
                           <th>账号类型</th>
                           <th style="width:72px;max-width:72px;">排序</th>
                       </tr>
                   </thead>
                   <tr *ngFor="let t of wait_tasks" (click)="getKeywords(t)">
                       <td title="id:{{t.task_id}}" style="padding:0px 4px;margin:0px;">
                           <div style="font-size:40%;padding:0px;margin:0px;">
                               {{t.name}}
                               <p style="color:red;padding:0px;margin:0px;"><i class="fa fa-clock-o" title="开始运行时间"></i>{{t.run_date}}</p>
                           </div>
                       </td>
                       <td>{{t.app_name}}</td>
                       <td>{{t.account_type_name}}</td>
                       <td title="双击修改顺序"><enter [val]="t.sort" [id]="t.task_id" (update)="updateSort($event)"></enter></td>
                   </tr>
                   <tfoot>
                       <tr>
                           <th colspan="15" *ngIf="wait_tasks.length==0">没有任务</th>
                       </tr>

                       <tr>
                           <td colspan="15">
                               <div style="overflow-y:auto;background-color:#f8f7c6;height:120px;border:1px solid #f2f2f2;padding:4px;">

                                   <div *ngFor="let cront of crontab_list">
                                       <p style="font-size:70%;color:#808080; "><label>{{cront.timeout_txt}}</label> {{cront.content}}</p>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tfoot>
               </table>


           </div>
           <div class="col-md-6">
               <table class="table table-striped table-hover table-bordered">
                   <thead>
                       <tr>
                           <th colspan="15"><span style="color:red;">错误提示</span></th>
                       </tr>
                   </thead>
                   <thead>
                       <tr>
                           <th>ERROR</th>
                           <th>PATH</th>
                           <th>PARAMS</th>
                           <th></th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let s of fails">
                           <td>{{s.error_msg}}</td>
                           <td>{{s.path}}</td>
                           <td>{{s.params}}</td>
                           <td>{{s.timeout_txt}}</td>
                       </tr>
                   </tbody>
               </table>
           </div>
           <div style="clear:both;"></div>
       </div>
   </div>

</div>