<div class="container">
   
    <div class="form-group">
            <p-multiSelect [options]="fields" displaySelectedLabel="true" filter="false" maxSelectedLabels="20" defaultLabel="请选择要导入的字段" [(ngModel)]="selectedFields"></p-multiSelect>
        <div class="alert alert-warning">
            请对应导入数据的顺序，没有导入的字段会自动生成
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-6" style="padding:0px;margin:0px;">
            <div *ngIf="types">
                <select [(ngModel)]="account_type" class="form-control">
                    <option [ngValue]="-1" selected>---请选择设备类型---</option>
                    <option *ngFor="let type of types" [ngValue]="type.type_id">{{type.type_name}}</option>
                </select>
            </div>
        </div>
       <div style="margin-left:5px;" class="col-md-4">
           <div class="input-group">
               <input type="text" pInputText placeholder="新分类名称" class="form-control" [(ngModel)]="new_typename">
               <span class="input-group-btn">
                   <button class="btn btn-default" type="button"  (click)="saveNewType()">保存</button>
               </span>
           </div>
        </div>
       <div style="clear:both;"></div>
    </div>

    <div class="form-group">
        <label>选择要导入的文件</label>
        <div><uploadbox [addr]="upload_dir" accept="text/*" (success)="onUpload($event)"></uploadbox></div>

    </div>
  

    <div class="form-group">
        <textarea [(ngModel)]="remarks" placeholder="备注说明" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="save()">保存</button>
    </div>
    </div>