
    <div style="text-align:center;">
        <p-selectButton [options]="navs" (onChange)="chanageRouter($event)" [(ngModel)]="curr_url"></p-selectButton>
        <hr />
    </div>
    <div >
        <div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>客户端编号</label>
                        <input type="text" class="form-control" placeholder="客户端编号" [(ngModel)]="filter.client_name">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>帐号类型</label>
                        <div><account-type [(ngModel)]="filter.account_type"></account-type></div>
                    </div>
                </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>是否绑定设备信息</label>
                    <div>
                        <select [(ngModel)]="filter.is_bind_device" class="form-control">
                            <option *ngFor="let v of  bind_statuss"  [selected]="v.id==filter.is_bind_device" [ngValue]="v.id">{{v.title}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>是否绑定客户端</label>
                    <div>
                        <select [(ngModel)]="filter.is_bind_client" class="form-control">
                            <option *ngFor="let v of  bind_statuss" [selected]="v.id==filter.is_bind_client" [ngValue]="v.id">{{v.title}}</option>
                        </select>
                    </div>
                </div>
            </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div><button (click)="listing()" class="btn btn-primary">搜索</button></div>
                    </div>
                </div>
            </div>
        
       <div class="col-md-12" >
           <div class="col-md-1" style="margin:0px;padding:0px;" >
             <h3>客户端列表</h3>
            <div style="overflow-y:auto;height:600px;">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        <tr *ngFor="let c of clients" style="cursor:pointer;">
                            <td (click)="client_acctions(c)">{{c.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           </div>
           <div class="col-md-11">
               <table class="table table-striped table-hover">
                   <thead>
                       <tr>
                           <th style="width:60px;">
                               <input type="checkbox" title="All" (click)="selectAll()" />
                           </th>
                           <th style="width:60px;">ID</th>
                           <th style="width:60px;">客户端</th>
                           <th style="width:160px;">帐号</th>
                           <th style="width:160px;">密码</th>
                           <th style="width:100px;">状态</th>
                           <th style="width:160px;">类型</th>
                           <th style="width:160px;">UDID</th>
                           <th>IMEI</th>
                           <th>ICCID</th>
                           <th>ECID</th>
                           <th>SERIAL_NUM</th>
                           <th style="width:60px;">位置</th>
                       </tr>
                   </thead>
                   <tbody *ngIf="items">
                       <tr *ngFor="let item of items let index=index" style="cursor:pointer;">
                           <td><input type="checkbox" [(ngModel)]="item.checked" /></td>
                           <td>{{item.account.account_id}}</td>
                           <td style="width:20px;">
                               {{item.account.client_name}}
                           </td>
                           <td style="width:160px;">{{item.account.account_name}}</td>
                           <td>{{item.account.password}}</td>
                           <td>{{statuss[item.account.status]}}</td>
                           <td>{{item.account.account_type|typeSwitch:types}}</td>
                           <td>{{item.device.udid}}</td>
                           <td>{{item.device.imei}}</td>
                           <td>{{item.device.iccid}}</td>
                           <td>{{item.device.ecid}}</td>
                           <td>{{item.device.serial_num}}</td>
                           <td>{{item.device.offset}}</td>
                       </tr>
                   </tbody>
                   <tfoot>
                       <tr>
                           <td  *ngIf="total>0"><input type="checkbox" title="All" (click)="selectAll()" /> </td>
                           <td colspan="30"  *ngIf="total>0"><div style="margin-top:-10px;"[page]="1" [rowcount]="limit" [total]="total" (callback)="listing($event)"></div></td>
                       </tr>

                       <tr  *ngIf="total==0" >
                         
                           <td colspan="30">没有数据</td>
                       </tr>
                   </tfoot>
               </table>
           </div>
           
       </div>
        <div class="console-footer"></div>
    </div>

    <div class="console" [style.height]="(consoleHeight)+'%'">
        <div class="nav">
            <ul>
                <li>
                    <div class="ui-inputgroup">
                        <input type="text" pInputText placeholder="客户端编号" [(ngModel)]="bind_client_name">
                        <button pButton type="button" label="绑定客户端" (click)="saveBind()"></button>
                    </div>
                </li> 
                <li><button pButton type="button" (click)="bindDevice()" label="绑定设备信息"></button></li>

                <li>
                    <button pButton type="button" label="解绑选择账号客户端" (click)="unbindclient()"></button>
                    &nbsp; &nbsp; &nbsp;
                    <button pButton type="button" label="解绑选择账号设备信息" (click)="unbinddevice()"></button>
                </li>
                <li class="pull-right">
                    <span (click)="setConsoleHeight(4)" class="lat"><a href="javascript:void(0);">关闭</a></span>
                    <span (click)="setConsoleHeight(40)" class="lat" [class.now]="consoleHeight==40">A</span>
                    <span (click)="setConsoleHeight(60)" class="lat" [class.now]="consoleHeight==60">B</span>
                    <span (click)="setConsoleHeight(100)" class="lat" [class.now]="consoleHeight==100">C</span>
                </li>
            </ul>
        </div>
        <div class="console-content">
            <router-outlet></router-outlet>
        </div>
    </div>
