<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="pull-left">
            <ul class="nav navbar-nav">
                <li  *ngFor="let menu of menus let index=index" [class.active]="menu.selected">
                    <a  [routerLink]="[menu.url]" (click)="onMenu(menu)">{{menu.title}}</a>
                </li>
             </ul>
        </div>
    </div>
</div>

<div style="clear:both;height:60px;width:100%;"> &nbsp;</div>
<div style="position:fixed;z-index:2000;">
    <p-growl [(value)]="msg.msgs"></p-growl>
</div>
<div>
    <router-outlet></router-outlet>
</div>